<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitation</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

    body,
    p,
    h1,
    h2,
    h3,
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
    }

    p {
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
    }
  </style>

</head>

<body style="margin: 0; padding: 0;">
  <table role="presentation" style="width: 100%; border: 0; cellspacing: 0; cellpadding: 0; text-align: center;">
    <tr>
      <td style="background-color: #fef8ff; text-align: center;">
        <table role="presentation"
          style="margin: auto; background-color: #ffffff; padding: 15px; width: 460px; max-width: 100%;">
          <!-- <tr>
            <td style="background-color: #2563eb;">
              <img src="" alt="image"
                style="display: block; margin: 0 auto; width: 150px; padding-right: 200px;">
            </td>
          </tr> -->

          <tr>
            <td style="width: 100%;">
              <p>Hi, this is your verification code to SuarAI</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Unique Code</p>
            </td>
          </tr>

          <tr>
            <td>
              <h2>{{.UNIQUECODE}}</h2>
            </td>
          </tr>

          <tr>
            <td>
              <p>Please do not share this code with anyone. You can use it to sign in to Suarai.
              </p>
            </td>
          </tr>

        </table>

        <table role="presentation" style="margin: auto; padding: 15px 15px 0 15px; width: 460px; max-width: 100%;">
          <tr>
            <!-- <td>
              <img src="https://notarius.s3.ap-southeast-1.amazonaws.com/selawe.png" alt="Selawe"
                style="display: block; margin: 0 auto; height: 28px;">
            </td> -->
        </table>

        <table role="presentation" style="margin: auto; padding: 0 15px 15px 15px; width: 460px; max-width: 100%;">

          <tr>
            <td>
              <p style="text-align: center; font-size: 12px; margin-block: none;">Suwondo Sigit Solution - Depok
                Indonesia</p>
            </td>
          </tr>

          <tr style="background-color: #2563eb;">
            <td style="padding: 10px;"><a href="#" style="color: white; text-decoration: none;">All Right Reserved</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>